    .card{
      display: flex;
      flex-direction: column;
      width: 600px;
      align-items: center;
      margin: 0 75px;
      
    }
    
    .item{
        margin: 1em;
        justify-content: center;
     }  
     
     .item-image-container{
        height:700px;
        
     }
     

     .item-image {
        height: 100%;
        object-fit: contain;
        align-items: center;
       }
     
       
    .item-title{
        object-fit: contain;
        font-size: 50px;
        text-transform: uppercase;
    }